html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-y: auto;  /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scroll */
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  